/.web-server-pid
/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
.vscode/
/app/Resources/views/show.html.twig.backup
/nbproject/private/
/app/Resources/views/security/login.html.twig.backup
/e3sDev_cc-in2p3_18092018.tar
/tests
/app/Resources/views/bootstrap_3_horizontal_layout_backup.html.twig
/ListeComposantsGOTIT1-1
/ListeComposantsProjet.txt
/LogInstallGoti1-1
/composer.lock.backup
/loginfo
/logtest
/updatV1.0_011018
/updatV1.0_031018
/updatebdd
/updatebdd-gotit
/updatebdd17Sept
/secutity_check
/src/Bbees/E3sBundle/Resources/translations/messages.en.yml.bup
/src/Bbees/E3sBundle/Resources/translations/messages.fr.yml.bup
/app/config/parameters.yml.e3s_ccin2p3
/app/config/parameters.yml.localhost
/var/cache/dev/twig
/var/cache/dev/ContainerNd18inm
/var/cache/dev/doctrine
/var/cache/dev/pools
/var/cache/dev/translations
/var/cache
/app/Resources/views/base.html.twig.bup
.idea
/app/config/parameters.yml.goti2-dev_localhost
/app/config/config_test.yml
/app/Resources/views/sequenceassemblee/index_bup.html.twig
/src/Bbees/E3sBundle/Resources/translations/help.en.bup.yml
/src/Bbees/E3sBundle/Resources/translations/help.fr.bup.yml
/src/Bbees/E3sBundle/Resources/translations/messages.en.bup.yml
/src/Bbees/E3sBundle/Resources/translations/messages.fr.bup.yml
