{# Form component for the initial block of the QueryBuilder #}

{% trans_default_domain 'queries' %}

<div class="panel panel-default">
	<div class="panel-heading initial-header">
		<div class="first-table-selection">
			<div class="form-group">
				<label class="control-label" for="niveau" data-toggle="tooltip" data-placement="top" title="Select the first table">
					{% trans %}
					Select Table
					{% endtrans %}
				</label>
				<br>
				<select name="first-table" id="first-table" class="first-chosen-tab selectpicker" data-live-search="true"></select>
			</div>
		</div>
		<div class="first-selected-fields">
			<div class="form-group">
				<label class="control-label" data-toggle="tooltip" title="Select fields from the first table (All selected by default)" data-placement="top">
					{% trans %}
					Select Field(s)
					{% endtrans %}
				</label>
				<br>
				<select name="first-fields" id="first-fields" multiple="multiple"></select>
			</div>
		</div>
		<div class="form-horizontal first-checked-constraints">
			<div class="form-group">
				<strong>
					{% trans %}
					Constraints
					{% endtrans %}
				</strong>
				<br>
				<label class="control-label" title="Add constraints" data-toggle="tooltip" data-placement="left">
					<input type="checkbox" data-toggle="toggle" data-onstyle="success" data-size="normal" id="first-constraints" class="collapsed" aria-expanded="false" data-target="#collapseConstraints" autocomplete="off">
					<i class="fas fa-spinner fa-spin pull-right hidden" id="method-spinner"></i>
				</label>
			</div>
		</div>
	</div>
	<div class="first-applied-constraints">
		<div class="panel-collapse collapse" id="collapseConstraints" aria-expanded="false">
			<div id="initial-table-constraints" class="builder-basic"></div>
			<div class="btn-group">
				<button class="btn btn-warning reset" data-target="#initial-table-constraints">Reset
				</button>
			</div>
		</div>
	</div>
</div>
