{# Form component for the initial block of the QueryBuilder #}

{% trans_default_domain 'queries' %}

<div class="panel panel-default">
	<div class="panel-heading" id="initial-header">
		<div class="form-group" id="initial-table-selection">
			<label class="control-label" for="niveau" data-toggle="tooltip" data-placement="top" title="Select the first table">
				{% trans %}
				Select Table
				{% endtrans %}
			</label>
			<br>
			<select id="initial-table" class="selectpicker" name="initial-table" data-live-search="true"></select>
		</div>
		<div class="form-group" id="initial-selected-fields">
			<label class="control-label" data-toggle="tooltip" title="Select fields from the first table (All selected by default)" data-placement="top">
				{% trans %}
				Select Field(s)
				{% endtrans %}
			</label>
			<br>
			<select id="initial-fields" name="initial-fields" multiple="multiple"></select>
		</div>
		<div class="form-group" id="initial-checked-constraints">
			<strong>
				{% trans %}
				Constraints
				{% endtrans %}
			</strong>
			<br>
			<label class="control-label" title="Add Constraints" data-toggle="tooltip" data-placement="left">
				<input id="initial-constraints-switchbox" class="constraints-switchbox" type="checkbox" data-toggle="toggle" data-onstyle="success" data-size="normal" aria-expanded="false" data-target="#initial-collapse-constraints" autocomplete="off">
			</label>
		</div>
	</div>
	<div id="initial-applied-constraints" class="applied-constraints">
		<div class="panel-collapse collapse" id="initial-collapse-constraints" aria-expanded="false">
			<div id="initial-query-builder" class="collapsed-query-builder"></div>
			<div class="btn-group">
				<button class="btn btn-warning reset" data-target="#initial-query-builder">Reset
				</button>
			</div>
		</div>
		<div id="initial-warning-msg" class="warning-msg collapse">
			<strong>
				{% trans %}
				Some Warning Message
				{% endtrans %}
			</strong>
		</div>
	</div>
</div>
