{# Form component for the initial block of the QueryBuilder #}

{% trans_default_domain 'queries' %}

<div class="panel panel-default" id="initial-panel">
	<div class="panel-heading" id="initial-header">
		<div class="form-group" id="initial-table-selection">
			<label class="control-label" for="initial-table">
				{% trans %}
				Select Table
				{% endtrans %}
			</label>
			<br>
			<select name="initial-table" id="initial-table" class="selectpicker" data-live-search="true" data-toggle="tooltip"></select>
		</div>
	</div>
	<div class="fields-constraints-options" id="initial-fields-constraints-options">
		<div class="form-group" id="initial-selected-fields">
			<label class="control-label" for="initial-fields">
				{% trans %}
				Select Field(s)									
				{% endtrans %}
			</label>
			<br>
			<select name="initial-fields" id="initial-fields" multiple data-toggle="tooltip"></select>
		</div>
		<div class="form-group" id="initial-checked-constraints">
			<strong>
				{% trans %}
				Constraints
				{% endtrans %}
			</strong>
			<br>
			<label class="control-label" for="initial-constraints-switchbox" data-toggle="tooltip" data-placement="left" title="Add Constraints" >
				<input id="initial-constraints-switchbox" class="constraints-switchbox" type="checkbox" data-toggle="toggle" data-onstyle="success" data-target="#initial-toggled-constraints">
			</label>
		</div>
		<div id="initial-toggled-constraints" class="toggled-constraints">
			<div id="initial-query-builder" class="collapsed-query-builder"></div>
			<button class="btn btn-warning reset" id="initial-cc-reset" data-target="#initial-query-builder">Reset</button>
			<div id="initial-warning-msg" class="warning-msg"></div>
		</div>
	</div>
</div>
