{# Form component for the initial block of the QueryBuilder #}

{% trans_default_domain 'queries' %}

<div class="panel panel-default" id="initial-panel">
	<div class="panel-heading" id="initial-header">
		<div class="form-group" id="initial-table-selection">
			<label class="control-label">
				{% trans %}
				Select Table
				{% endtrans %}
			</label>
			<br>
			<select id="initial-table" class="selectpicker" name="initial-table" data-live-search="true" data-placement="right" data-toggle="tooltip" title="Select the first table"></select>
		</div>
		<div class="form-group" id="initial-selected-fields">
			<label class="control-label">
				{% trans %}
				Select Field(s)									
				{% endtrans %}
			</label>
			<br>
			<select id="initial-fields" name="initial-fields" multiple="multiple" data-toggle="tooltip" title="Select fields from the first table (All selected by default)" data-placement="auto left"></select>
		</div>
		<div class="form-group" id="initial-checked-constraints">
			<strong>
				{% trans %}
				Constraints
				{% endtrans %}
			</strong>
			<br>
			<label class="control-label" title="Add Constraints" data-toggle="tooltip" data-placement="left">
				<input id="initial-constraints-switchbox" class="constraints-switchbox" type="checkbox" data-toggle="toggle" data-onstyle="success" data-target="#initial-applied-constraints">
			</label>
		</div>
	</div>
	<div class="applied-constraints" id="initial-applied-constraints">
		<div id="initial-query-builder" class="collapsed-query-builder"></div>
		<button class="btn btn-warning reset" id="initial-cc-reset" data-target="#initial-query-builder">Reset</button>
		<div id="initial-warning-msg" class="warning-msg">
			<strong>
				{% trans %}
				Some Warning Message
				{% endtrans %}
			</strong>
		</div>
	</div>
</div>
