{% trans_default_domain 'queries' %}

<img id="logical-db-img" src="{{ asset('bundles/lehnaquerybuilder/images/S1_Gotitdb_V2_logical_model_en.jpg') }}" alt="Logical Model">

<!-- Modal -->
<div class="modal logical-modal-content" id="logigal-database-model">
	
  <!-- Modal content-->
  <span class="close">&times;</span>
  <img class="modal-content logical-img-modal-content" id="db-img">
  <div id="caption"></div>
</div>

