{% trans_default_domain 'queries' %}

<img id="myImg" src="{{ asset('bundles/lehnaquerybuilder/image/S1_Gotitdb_V2_logical_model_en.jpg') }}" alt="Logical Model">

<!-- Modal -->
<div class="modal" id="logigal-database-model">
	
  <!-- Modal content-->
  <span class="close">&times;</span>
  <img class="modal-content" id="img01">
  <div id="caption"></div>
</div>

