<div class="col-xs-12 col-sm-2">
	<legend>
		<h3>
			<span>
				Historique :
			</span>
		</h3>
	</legend>
	<dic class="btn-group">
		<button class="btn btn-primary parse-json">Get SQL</button>
	</div>
</div>

<div class="col-xs-12 col-sm-4">
	<legend>
		<h3>
			<span>
				Tableau des résultats
			</span>
		</h3>
	</legend>
	<div class="table-responsive">
		<table id="result-table" class="table table-condensed table-hover table-striped">
			<thead>
			<tr>
				<th id="col-taxname">
          		hello1
				</th>
				<th>hrllo2</th>
				<th>h3</th>
				<th>h4</th>
				<th>h5</th>
				<th id="col-details">
				h6
				</th>
			</tr>
			</thead>
			<tbody></tbody>
		</table>
	</div>
</div>
