{% trans_default_domain 'queries' %}

<div class="col-xs-12 col-sm-2">
	<legend>
		<h3>
			<span>
				Historique :
			</span>
		</h3>
	</legend>
	<div class="btn-group">
		<button class="btn btn-primary parse-json">Get SQL</button>
	</div>
</div>

<div class="col-xs-12 col-sm-9">
	<legend>
		<h3>
			<span>
				Tableau des résultats
			</span>
		</h3>
	</legend>
	<div id="result-container" class="table-responsive-md">
		{# ici mettre la réponse html avec les résultats #}
	</div>
</div>
