div.initial-container {
  padding-left: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "first-chosen-selector      first-selected-fields      ."
    "first-collapse-constraints first-collapse-constraints first-collapse-constraints";

  div.first-chosen-selector {
    grid-area: first-chosen-selector;
  }

  div.first-selected-fields {
    grid-area: first-selected-fields;
  }

  div.first-check-constraints {
    grid-area: first-collapse-constraints;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    column-gap: 5px;
    grid-template-areas: "first-check-constraints first-applied-constraints";

    div#collapseConstraints {
      grid-area: first-applied-constraints;
    }

    div.first-applied-constraints {
      grid-area: first-check-constraints;
    }
  }

  @media (max-width: 1000px) {
    div.first-check-constraints {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas:
        "first-check-constraints"
        "first-applied-constraints";
    }
  }
}

@media (max-width: 1000px) {
  div.initial-container {
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto 0.5fr;
    grid-template-areas:
      "first-chosen-selector"
      "first-selected-fields"
      "first-collapse-constraints"
      "first-collapse-constraints"
      "first-collapse-constraints";
  }
}

div.add-join-div {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  display: grid;
  grid-template-areas: "add-btn";

  button#add-join {
    grid-area: add-btn;
  }
}

div.join-header {
  grid-area: join-header;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "former-table-choice join-type-choice adj-table-choice join-selected-fields";

  div.former-table-choice {
    grid-area: former-table-choice;
  }

  div.join-type-choice {
    grid-area: join-type-choice;
  }

  div.adj-table-choice {
    grid-area: adj-table-choice;
  }

  div.join-selected-fields {
    grid-area: join-selected-fields;
  }
}

@media (max-width: 1000px) {
  div.join-header {
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
      "former-table-choice"
      "join-type-choice"
      "adj-table-choice"
      "join-selected-fields";
  }
}

div.join-check-constraints {
  grid-area: join-check-constraints;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr;
  column-gap: 5px;
  grid-template-areas: "join-collapsed-constraints join-applied-constraints";

  div.join-collapsed-constraints {
    grid-area: join-applied-constraints;
  }

  div.join-applied-constraints {
    grid-area: join-collapsed-constraints;
  }
}

@media (max-width: 1000px) {
  div.join-check-constraints {
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1fr;
    grid-template-areas:
      "join-collapsed-constraints"
      "join-applied-constraints";
  }
}

center {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: ". . results-btn . .";

  button#submit-button {
    grid-area: results-btn;
    justify-items: center;
  }
}
