div.initial-container {
  padding-left: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas: 
    "first-chosen-selector      first-selected-fields      ."
    "first-collapse-constraints first-collapse-constraints first-collapse-constraints";

  div.first-chosen-selector {
    grid-area: first-chosen-selector;
  }

  div.first-selected-fields {
    grid-area: first-selected-fields;
  }

  div.first-check-constraints {
    grid-area: first-collapse-constraints;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    column-gap: 5px;
    grid-template-areas: "first-check-constraints first-applied-constraints";

    div#collapseContraints {
      grid-area: first-check-constraints;
    }

    div.first-applied-constraints {
      grid-area: first-applied-constraints;
    }
  }

  @media (max-width: 1000px) {
      div.first-check-constraints {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
        "first-check-constraints"
        "first-applied-constraints";
      }
  }
}

@media (max-width: 1000px) {
  div.initial-container {
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto 0.5fr;
    grid-template-areas:
      "first-chosen-selector"
      "first-selected-fields"
      "first-collapse-constraints"
      "first-collapse-constraints"
      "first-collapse-constraints";
  }
}