@import "nav.less";
@import "top-nav.less";

body {
  font-family: "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
  font-size: 13px;
}

body .main-container {
  min-height: 100vh;
  display: grid;
  grid-template-areas:
    "nav-left nav-top"
    "nav-left main-content"
    "nav-left footer";

  grid-template-columns: 0fr auto;
  grid-template-rows: 0fr auto 1fr;
  // gap: 10px;
  row-gap: 10px;

  nav.nav-left {
    grid-area: nav-left;
  }

  nav.top_nav {
    grid-area: nav-top;
    width: fit-content;
  }

  div.main-content {
    grid-area: main-content;
    padding: 0 10px;
    width: fit-content;
  }

  footer {
    grid-area: footer;
  }
}